<div class="card border-light shadow-sm mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">


                <thead class="thead-light">
                    <tr>
                        <th class="border-0">GRANTEE</th>
                        <th class="border-0">GRANTED_ROLE</th>
                        <th class="border-0">ADMIN_OPTION</th>
                        <th class="border-0">DELEGATE_OPTION</th>
                        <th class="border-0">DEFAULT_ROLE</th>
                        <th class="border-0">COMMON</th>
                        <th class="border-0">INHERITED</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->

                    {{#each userAndTheirRoles }}
                    <tr>
                        <td class="border-0"><a href="#" class="text-primary font-weight-bold">
                                {{this.GRANTEE}}
                            </a>
                        </td>

                        <td class="border-0">
                            {{this.GRANTED_ROLE}}
                        </td>
                        <td class="border-0">
                            {{ this.ADMIN_OPTION}}
                        </td>

                        <td class="border-0">
                            {{this.DELEGATE_OPTION}}
                        </td>


                        <td class="border-0">
                            {{this.DEFAULT_ROLE}}
                        </td>
                        <td class="border-0">
                            {{this.COMMON}}
                        </td>

                        <td class="border-0">
                            {{this.INHERITED}}
                        </td>



                    </tr>
                    {{/each}}



                </tbody>
            </table>
        </div>
    </div>
</div>